/* ! colors
! purple: #363b81
! baby blue: #5cb9ff
! red: #ff1f1f
! yellow: #fbd743
! */

body {
  background-color: #1d2c5f;
  font-family: "Montserrat", sans-serif;
  font-family: "Press Start 2P", cursive;
  color: white;
}

/* ? SPLASH SCREEN */

#splash-screen {
  padding: 20px 0 0 0;
}

#logo {
  height: 170px;
}

#splash-screen h1 {
  transform: rotate(7deg);
  font-family: "Indie Flower", cursive;
  /* font-family: "Montserrat", sans-serif;
  font-family: "Press Start 2P", cursive; */
  font-size: 30px;
  color: red;
  text-indent: 350px;
  margin: 0 0 20px 0;
}

#instructions {
  width: 1000px;
  margin: 10px;
  line-height: 1.7;
}

.instruction {
  display: flex;
  font-size: 15px;
  align-items: center;
  height: 80px;
}

.instruction > img {
  padding: 0 50px 15px 80px;
  width: 60px;
  height: auto;
}

#arrows {
  height: 50px;
  width: auto;
  padding-left: 20px;
}
#start-btn {
  font-family: "Montserrat", sans-serif;
  font-family: "Press Start 2P", cursive;
  height: 115px;
  box-shadow: 5px 5px 3px rgb(117, 2, 2);
  background-color: red;
  border-top: red;
  border-bottom: red;
  border-radius: 50%;
  color: white;
  padding: 20px;
  font-size: 16px;
  margin-top: 20px;
}

/* ? GAME SCREEN */

#canvas {
  display: none;
  background-color: lightgray;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score {
  display: none;
  margin-top: 30px;
}

/* ? GAMEOVER SCREEN */

#game-over {
  font-size: 30px;
  letter-spacing: 8px;
  text-align: center;
}

#gameover-screen {
  display: none;
  flex-direction: column;
  justify-content: center;
}

#gameover-screen img {
  height: 400px;
  width: auto;
  padding: 20px 0 20px 0;
}

#restart-btn {
  font-family: "Montserrat", sans-serif;
  font-family: "Press Start 2P", cursive;
  height: 120px;
  box-shadow: 5px 5px 3px rgb(117, 2, 2);
  background-color: red;
  border-top: red;
  border-bottom: red;
  border-radius: 50%;
  color: white;
  padding: 20px;
  font-size: 12px;
  margin-top: 10px;
}

/* ? WIN GAME SCREEN */

#win-game-screen {
  display: none;
  justify-content: center;
}

#win-game-screen h2 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 8px;
}

#ash-pikachu {
  height: 100px;
  width: auto;
  margin-bottom: 50px;
}

#bg-container {
  display: flex;
  height: 400px;
  width: 700px;
  background-image: url("./images/almost-winning.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

#win-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#play-again-btn {
  font-family: "Montserrat", sans-serif;
  font-family: "Press Start 2P", cursive;
  line-height: 1.9;
  height: 120px;
  box-shadow: 0 5px 3px rgb(117, 2, 2);
  background-color: red;
  border-top: red;
  border-bottom: red;
  border-radius: 50%;
  color: white;
  padding: 20px 20px 20px 20px;
  font-size: 16px;
  margin-top: 30px;
}
