/* ! colors
! purple: #363b81
! baby blue: #5cb9ff
! red: #ff1f1f
! yellow: #fbd743
! */

body {
  background-color: #1d2c5f;
  font-family: "Montserrat", sans-serif;
  font-family: "Press Start 2P", cursive;
  color: white;
}

/* ? SPLASH SCREEN */

#splash-screen {
  padding: 50px 0 0 0;
}

#splash-screen h1 {
  transform: rotate(7deg);
  font-family: "Indie Flower", cursive;
  /* font-family: "Montserrat", sans-serif;
  font-family: "Press Start 2P", cursive; */
  font-size: 45px;
  color: red;
  text-indent: 350px;
  margin: 0 0 40px 0;
}

#instructions {
  width: 1000px;
  margin: 10px;
  line-height: 1.7;
}

.instruction {
  display: flex;
}

.instruction img {
  padding: 0 50px 15px 0;
  width: 70px;
  height: auto;
}

#start-btn {
  font-family: "Montserrat", sans-serif;
  font-family: "Press Start 2P", cursive;
  height: 115px;
  box-shadow: 5px 5px 3px rgb(117, 2, 2);
  background-color: red;
  border-top: red;
  border-bottom: red;
  border-radius: 50%;
  color: white;
  padding: 20px;
  font-size: 16px;
  margin-top: 40px;
}

/* ? GAME SCREEN */

#canvas {
  display: none;
  background-color: lightgray;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score {
  display: none;
  margin-top: 30px;
}

/* ? GAMEOVER SCREEN */

#game-over {
  font-size: 30px;
}

#gameover-screen {
  display: none;
  flex-direction: column;
  justify-content: center;
}

#gameover-screen img {
  height: 600px;
  width: auto;
}

#restart-btn {
  font-family: "Montserrat", sans-serif;
  font-family: "Press Start 2P", cursive;
  height: 130px;
  box-shadow: 5px 5px 3px rgb(117, 2, 2);
  background-color: red;
  border-top: red;
  border-bottom: red;
  border-radius: 50%;
  color: white;
  padding: 20px;
  font-size: 12px;
  margin-top: 30px;
}

/* ? WIN GAME SCREEN */

#win-game-screen {
  display: none;
  justify-content: center;
}

#win-game-screen h2 {
  text-align: center;
  font-size: 30px;
}

#ash-pikachu {
  height: 150px;
  width: auto;
  margin-bottom: 50px;
}

#bg-container {
  display: flex;
  height: 600px;
  width: 1000px;
  background-image: url("./images/almost-winning.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

#win-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#play-again-btn {
  font-family: "Montserrat", sans-serif;
  font-family: "Press Start 2P", cursive;
  line-height: 1.9;
  height: 135px;
  box-shadow: 0 5px 3px rgb(117, 2, 2);
  background-color: red;
  border-top: red;
  border-bottom: red;
  border-radius: 50%;
  color: white;
  padding: 20px 20px 20px 20px;
  font-size: 16px;
  margin-top: 30px;
}
